a:focus { outline:none }

.title {
	font-size: 20px;
	 white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.form-list tr {
	cursor: pointer;
}

.form-list td, th {
	white-space: nowrap;	
}

.form-list .reason {
	width: 400px;
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.form-horizontal .btn-toolbar {
	margin-top: 10px;
	margin-bottom: 20px;
}

@media (max-width : 1200px) {
	.form-list .reason {
		max-width: 200px;
	}
}

@media (max-width : 992px) {
	.form-list .reason {
		max-width: 60px;
	}
}

@media only screen and (max-width : 768px) {
	.form-list .reason {
		max-width: 100px;
	}
}
.table .checkboxStyle{
	margin-left:10px;
}

.error-ul{
	margin-top: 20px;
	padding-top: 10px;
	border-top:solid 1px #CCC;
}
.img-btn{
	margin-top: 10px;
	text-align: center;
}
.img-max{
	max-width:150px£»
	text-align: center;
}
.title {
	font-size: 20px;
	 white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Emphasis{
	color: #ff0000;
}
.hand{
	cursor:pointer
}

.striped{
	background-color: #f9f9f9;
}
pre {
white-space: pre-wrap;
word-wrap: break-word;
}
.panel .form-group{
	margin-top:15px;
}
.form-body .form-group{
	margin-right:0;
	margin-left:0;
	border-bottom:#efefef solid 1px;
}
