a:focus { outline:none }

.btn-toolbar h3{
	margin-top:5px;
}
#updateInfo td{
    vertical-align: middle;
}
.oldInfo{
	background-color:#f9f9f9;
}
.panel .form-group{
	margin-top:15px;	
}
.title {
	font-size: 20px;
	 white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#cUpdateCheckApp{
	margin-left:0px;
	margin-right:0px;
}
.list-body{
	margin-top:15px;
}
.Emphasis{
	color: #ff0000;
}

pre {
white-space: pre-wrap;
word-wrap: break-word;
}
.auditItem{
	margin-right:2em;
}
