.table {
	width:auto;
}

.table td.booking-type span {
	display: inline-block;
	border-bottom: dashed 1px #0088cc;
	color: #0088cc;
	cursor: pointer;
}

.table td.booking-type select {
	padding: 0px;
	margin: 0px;
	width: 100px;
	height: 24px;
	line-height: 20px;
	display: none;
}

.table td.booking-type {
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
	width: 120px;
}